
.ms-WPBorder{
	border:0px!important;
}

.js-webpart-titleCell{
	display:none;
}
.ms-core-listMenu-verticalBox{
	width:200px!important;
}

#ctl00_PlaceHolderLeftNavBar_QuickLaunchNavigationManager
{
display:none;

}

#DeltaPlaceHolderMain{
	margin-left: -40px!important;
	padding-right:0px!important;
	
}
input[type="password"]:focus, input[type="text"]:focus{
	outline:none!important;
}
#contentRow{
	padding-top:0px;
	margin-top:-2px!important;
}

 .static{
	
  padding-right: 0px!important;
    width: 82%!important;
} 
.noindex{
	
	padding:0px!important;
}
.content{position:absolute;}
.navbar{margin-bottom:0px;}

.dropdown-menu ul li{cursor:pointer;list-style:none;}
.dropdown-menu ul li a{color:#000;}











.sidenav{
	position:fixed;
	height:100%;
	width:180px!important;
	bottom:0px;
	left:0px;
	top:87px!important;
	background:#88898c;

	
}
#titleAreaBox{
	display:none!important;	
}

#s4-titlerow{
	display:none!important;	
}
.sidenav ul{
	padding:0px;
	
	
.sidenav ul li {
    display: block;
    
    padding-bottom: 0px;
    padding-left: 25px;
    padding-top: 10px;
    list-style: none;
    height: 50px!important;
    border-bottom: 2px solid #fff;
}



.user .glyphicon-user{color:#ffffff;}
.sidenav li a{
	color:#fff;
	text-decoration:none;
}
.sidenav li:hover{background:#000000;}
.sidenav footer{
	position:fixed;
	left:0px;
	bottom:0px;
	display:block;
	width:180px;
	border:2px solid #fff;
}
.main{
    /*margin-left: 196px!important;*/
    width: 86%!important;
}
#contentRow{

 /*margin-left: 180px!important;*/
 width: 84%!important;

}

.titlebar{
	border:2px solid #ebebeb;height:48px!important;
}
.titlebar .col-md-6,.titlebar .col-md-4{
	padding-left:0px!important;}
}.titlebar h3{
	margin-top:5px!important;padding-left:0px;
}
.titlebar button[type="submit"]{
	padding:11px;border:1px solid gray;

}

/*navbar start*/
.navbar .container-fluid{
	
	width:100%;
	
}
.active1{
	background:#49d1e6!important;
	color:#ffffff;
	padding:13px!important;
}
.navbar-brand{
	color:#000;
}
.navbar-header a:hover{
	color:#000!important;
}

 .navbar-header h3{   margin-top: 10px;}


.nav .active1 a{
	color:#ffffff;
}
.nav .active1 :hover{
	background:#49d1e6!important;
}
.nav input[type="search" i]{padding:0px!important;border:none;width:90%;}
.nav button{padding:0px!important;border:none;background:#fff!important;}
.input-type :hover{
	background:#fff!important;
}

/*navbar end*/

/*main-footer start*/

#main-footer{
	position:fixed;
	left:180px;
	bottom:0px;
	height:40px;
	border:1px solid #111;
	width:100%;
	background:#fff;
}
#main-footer .container{
	padding:0px!important;
	margin:0px!important;
}
#main-footer .pull-right{padding:0px!important;}
#main-footer .pull-right li :hover{background:none!important;}
#main-footer .pull-right li{text-decoration:underline!important;}
#main-footer .pull-right li  a{color:#000!important;padding-top:5px!important;}
/*main-footer end*/


/*login page start*/
#login
{
	width:100%;
	}
	#form1 .form-main{border:1px solid #aaa;border-radius:5px;	}
#login form{
	padding:30px;
}
#login h2{
	font-weight:600;
}
.form-main form  b{
	color:#aaa!important;
}
#login form input{width:100%;
border:none;
border-bottom:1px solid #aaa;}	
/*login page end*/
/*search results found start*/
.search-results .dropdown-menu{
	padding:5px;
	margin-left:2%;
	
	margin-top:10px;
}
#filterby{background:#ffffff;color:#000000;padding:5px 20px 5px 20px;border:1px solid #000;}

.table{border-bottom:2px solid #ddd;}
.table tbody td{padding-left:12px!important;}


.glyphicon-eye-open{
	color:#4caf50!important;
}
.glyphicon-trash{
	color:#f44336!important;
}



/*search results found end*/
/*Tcpdashboard start*/
#tcpdashboard .container{padding:0px;}

.tcp-button{
	
	padding-top:25px;
	padding-bottom:5px;
	
}
#filterby1{border:none;background:#fff;}
.tcp-button .dropdown-menu{
	margin-top:10px;

}
#filterby1 .glyphicon-chevron-down {padding-top:5px!important;}
#tcp-row-1{
	border-bottom:1px solid #000;
}
.content-main{border-right:1px solid #000;height:100%;padding-right:25px;}
/*aside*/

aside a{text-decoration:none;color:#000;}

/*aside end*/
.tcp-row-2 .col-md-3{margin:5px;}
.col-container {
    display: table; 
    width: 100%; 
	
}

.col {
    display: table-cell;
padding-top:20px!important;
height:150px;
	
}
.col-c1{background:#f44242;margin:10px;color:#fff;}
.col-c2{background:#3c9342;margin:10px;color:#fff;}
.col-c3{background:#4b9ed8;margin:10px;color:#fff;}

#lable1{background:pink; height:50px;}
#lable2{background:#adffbf; height:50px;}
#lable3{background:#a0d3f7; height:50px;}
#lable1 h5{margin-top:0px!important; color:#f44242;}
#lable2 h5{margin-top:0px!important; color:#f44242;}
#lable3 h5{margin-top:0px!important; color:#f44242;}

/*Tcpdashboard end*/

/*Task management start*/

.content hr{border-bottom:2px solid #ddd;}
.task-management .dropdown-menu{margin-left:1%; top:50px;}
.task-management .dropdown-menu li{list-style:none;}
.task-management .dropdown-menu a{text-decoration:none;color:#000;}
.task-management .dropdown-menu :hover{color:#337ab7;}
.task-management .dropdown-menu ul{padding-left:15px;}
.dropdown-extended .assign-to{color:#9e9e9e; font-size:13px; font-weight:600;}





/*Task management end*/

/*task-overview-start*/
.task-overview .dropdown-menu{top:160px;left:1%;}
 .task-overview .col-md-1{border:1px solid black;border-top:0px;padding:9px;}
 .task-overview .col-md-10{border-bottom:1px solid black!important;border:none;padding:9px;}
 .task-overview .empty{border-bottom:1px solid black!important;border:none;padding:9px;}
 .task-overview .row .container{padding:0px;}
 .task-overview .assignment{border-left:3px solid #ebebeb;height:100%;}
 .task-overview .button-filter{border:3px solid #ebebeb;border-left:0px;height:100%;padding:5px;}
/*task-overview-end*/
/*store-task-start*/
.store-1 h5{
	padding:5px;
}
.store-1 strong{margin-right:10px;}
/*store-task-end*/

/*add edit start*/
.collapsible {
  background: #fff!important;
  border:2px solid #ebebeb;
  color: #444;
  height:41px!important;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  
  text-align: left;
  outline: none;
  font-size: 15px;
}




.collapsible:hover {
  background-color: #f2f2f2!important;
}
.content1{
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #000;
    float: right;
    margin-left: 5px;
}
.modal-content{border-radius:0px;position:fixed;width:100%;height:550px; overflow-y:scroll;}
.modal-body{padding-bottom:5px;padding-top:5px;}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/*add edit end*/











